<!-- Footer -->
<footer class="bg-warning fixed-bottom">
  <div class="row d-flex justify-content-between">

    <div class="col-lg-5 bg-light entidades pt-2 d-flex align-content-center justify-content-center">
      <ul class="list-inline d-flex column-gap-5 align-items-center">
        <li class="list-inline-item"><a href="#" target="_blank"><img width="210px" src="/assets/imgs/lasalle.png"
              alt=""></a>
        </li>
        <li class="list-inline-item"><a href="#" target="_blank"><img width="60px" src="/assets/imgs/ibero.png"
              alt=""></a>
        </li>
        <li class="list-inline-item"><a href="#" target="_blank"><img width="210px" src="/assets/imgs/bit.png"
              alt=""></a>
        </li>
      </ul>
    </div>

    <div class="col-lg-2 col-md-6 d-flex justify-content-center align-items-center">
      <img src="/assets/imgs/logo.png" width="200px" alt="">
    </div>

    <div class="col-lg-1 bg-light row entidades2 d-flex column-gap-1 me-1">
      <ul class="wrapper d-flex column-gap-1 mt-2">
        <li class="icon facebook">
          <span class="tooltip">Facebook</span>
          <span><i class="fab fa-facebook-f"></i></span>
        </li>
        <li class="icon instagram">
          <span class="tooltip">Instagram</span>
          <span><i class="fab fa-instagram fa-xl"></i></span>
        </li>
      </ul>
      <ul class="wrapper d-flex column-gap-1 ">
        <li class="icon instagram">
          <span class="tooltip">TikTok</span>
          <span><i class="fab fa-tiktok"></i></span>
        </li>
        <li class="icon facebook ">
          <span class="tooltip">Tumblr</span>
          <span><i class="fab fa-tumblr"></i></span>
        </li>
      </ul>
    </div>
  </div>
</footer>
