<body>
  <img id="imagenbackground1">
</body>
<section class="container-fluid col col-12  buttttttt">
  <div class="box-container">
    <div class="box">
      <img src="/assets/imgs/icon-1.png" alt="">
      <h3>HTML 5</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
      <img src="/assets/imgs/icon-2.png" alt="">
      <h3>CSS 3</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
      <img src="/assets/imgs/icon-3.png" alt="">
      <h3>JavaScript</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
      <img src="/assets/imgs/icon-4.png" alt="">
      <h3>SASS</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
      <img src="/assets/imgs/icon-5.png" alt="">
      <h3>JQuery</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="box">
      <img src="/assets/imgs/icon-6.png" alt="">
      <h3>React.js</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
      <a href="#" class="btn">read more</a>
    </div>

  </div>
</section>
