<body>
  <img id="imagenbackground1">
</body>
<section class="container-fluid col col-12  buttttttt">
  <div class="box-container">
    <div class="box animate__animated animate__fadeInLeft">
      <i class="fa-solid fa-calculator fa-4x"></i>
      <h3>ASESORIAS DE CALCULO DIFERENCIAL</h3>
      <p>Aqui encontraras a las personas correctas para tus dudas en calculo diferencial.</p>
      <button routerLink="/asesores" class="btn swing ">EMPECEMOS</button>
    </div>

    <div class="box animate__animated animate__fadeInDown">
      <i class="fa-solid fa-earth-americas fa-4x"></i>
      <h3>ASESORIAS DE COMPACTACIÓN DE SUELOS</h3>
      <p>Aqui encontraras a las personas correctas para tus dudas en compactación de suelos.</p>
      <button routerLink="/asesores" class="btn swing ">EMPECEMOS</button>
    </div>

    <div class="box animate__animated animate__fadeInRight">
      <i class="fa-solid fa-scale-balanced fa-4x"></i>
      <h3>ASESORIAS DE ESTABILIDAD DE TALUDES</h3>
      <p>Aqui encontraras a las personas correctas para tus dudas en Estabilidad de Taludes.</p>
      <button routerLink="/asesores" class="btn swing ">EMPECEMOS</button>
    </div>

    <div class="box animate__animated animate__fadeInRight">
      <i class="fa-solid fa-droplet fa-4x"></i>
      <h3>ASESORIAS DE <br> HIDROSTÁTICA</h3>
      <p>Aqui encontraras a las personas correctas para tus dudas en Hidrostática</p>
      <button routerLink="/asesores" class="btn swing ">EMPECEMOS</button>
    </div>

    <div class="box animate__animated animate__fadeInUp">
      <i class="fa-solid fa-trowel-bricks fa-4x"></i>
      <h3>ASESORIAS DE RESISTENCIA DE MATERIALES</h3>
      <p>Aqui encontraras a las personas correctas para tus dudas en resistencia de materiales</p>
      <button routerLink="/asesores" class="btn swing ">EMPECEMOS</button>
    </div>

    <div class="box animate__animated animate__fadeInLeft">
      <i class="fa-solid fa-filter fa-4x"></i>
      <h3>ASESORIAS DE DINÁMICA DE FLUIDOS</h3>
      <p>Aqui encontraras a las personas correctas para tus dudas en dinámica de fluidos</p>
      <button routerLink="/asesores" class="btn swing ">EMPECEMOS</button>
    </div>

  </div>
</section>
