<body>
  <img id="imagenbackground1">
</body>
<section class="container-fluid col col-12  buttttttt">
  <div class="box-container">
    <div class="box animate__animated animate__fadeInLeft">
      <i class="fa-solid fa-calculator fa-4x"></i>
      <h3>CALCULADORAS</h3>
      <p>Aqui encontraras las mejores CALCULADORAS para rentar, comprar o vender.</p>
      <button routerLink="/productos" class="btn swing ">EMPECEMOS</button>
    </div>

    <div class="box animate__animated animate__fadeInDown">
      <i class="fa-solid fa-ruler fa-4x"></i>
      <h3>REGLAS</h3>
      <p>Aqui encontraras las mejores REGLAS para rentar, comprar o vender.</p>
      <button routerLink="/productos" class="btn swing ">EMPECEMOS</button>
    </div>

    <div class="box animate__animated animate__fadeInRight">
      <i class="fa-solid fa-solar-panel fa-4x"></i>
      <h3>PLANOS</h3>
      <p>Aqui encontraras las mejores PLANOS para rentar, comprar o vender.</p>
      <button routerLink="/productos" class="btn swing ">EMPECEMOS</button>
    </div>

    <div class="box animate__animated animate__fadeInRight">
      <i class="fa-solid fa-file-lines fa-4x"></i>
      <h3>TRABAJOS</h3>
      <p>Aqui encontraras las mejores TRABAJOS para rentar, comprar o vender.</p>
      <button routerLink="/productos" class="btn swing ">EMPECEMOS</button>
    </div>

    <div class="box animate__animated animate__fadeInUp">
      <i class="fa-solid fa-pen-nib fa-4x"></i>
      <h3>ENSAYOS</h3>
      <p>Aqui encontraras las mejores ENSAYOS para rentar, comprar o vender.</p>
      <button routerLink="/productos" class="btn swing ">EMPECEMOS</button>
    </div>

    <div class="box animate__animated animate__fadeInLeft">
      <i class="fa-solid fa-laptop-file fa-4x"></i>
      <h3>PROGRAMAS</h3>
      <p>Aqui encontraras las mejores PROGRAMAS para rentar, comprar o vender.</p>
      <button routerLink="/productos" class="btn swing ">EMPECEMOS</button>
    </div>

  </div>
</section>
