<body>
  <img id="imagenbackground1">
</body>
<section class="d-flex col  col-12 column-gap-5 justify-content-evenly  buttttttt">
  <div class="d-flex animate__animated animate__fadeInLeft row col-8">
    <div class="box-container">
      <div class="wrapper">
        <ul class="carousel">
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-1.jpg" alt="img" draggable="false"></div>
            <h2>Carla Morrinson</h2>
            <span>Asesora En Calculo</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-2.jpg" alt="img" draggable="false"></div>
            <h2>Camilo Camilo</h2>
            <span>Asesor En Quimica</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-3.jpg" alt="img" draggable="false"></div>
            <h2>Calle&Poche
            </h2>
            <span>Docente En Lenguas</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-4.jpg" alt="img" draggable="false"></div>
            <h2>Diomedez Lee</h2>
            <span>Freelancer</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-5.jpg" alt="img" draggable="false"></div>
            <h2>Kristina Zasiadko</h2>
            <span>Bank Manager</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-6.jpg" alt="img" draggable="false"></div>
            <h2>Donald Horton</h2>
            <span>App Designer</span>
          </li>
        </ul>

      </div>
    </div>
    <div class=" box-container">
      <div class="wrapper">
        <ul class="carousel">
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-4.jpg" alt="img" draggable="false"></div>
            <h2>Diomedez Lee</h2>
            <span>Asesor En Ventas</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-5.jpg" alt="img" draggable="false"></div>
            <h2>Dario Gomez</h2>
            <span>Asesora En Fisica</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-6.jpg" alt="img" draggable="false"></div>
            <h2>Gunter Batista</h2>
            <span>Estructura de Datos</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-3.jpg" alt="img" draggable="false"></div>
            <h2>James Khosravi</h2>
            <span>Freelancer</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-2.jpg" alt="img" draggable="false"></div>
            <h2>Kristina Zasiadko</h2>
            <span>Bank Manager</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/img-1.jpg" alt="img" draggable="false"></div>
            <h2>Donald Horton</h2>
            <span>App Designer</span>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="box-container col-3 d-flex align-items-center">
    <div class="box animate__animated animate__fadeInRight">
      <i class="fa-solid fa-brain fa-4x"></i>
      <h3>TIENES CONOCIMIENTOS DEL AREA?</h3>
      <p>REGISTRATE Y EMPIEZA TU CARRERA COMO ASESOR/A</p>
      <button routerLink="/asesores" class="btn swing ">EMPECEMOS</button>
    </div>
  </div>
</section>
