<body>
  <img class="animate__animated animate__fadeIn" id="imagenbackground" src="/assets/imgs/denxo.png">
</body>

<section class=" d-flex justify-content-end column-gap-5 col col-12">
  <!-- <div class="row ourteam" style=" width: 400px; margin-top: 300px;">
    <div class="column">
      <div class="card">
        <div class="img-container imggg" style="background-image: url(assets/imgs/juan.jpeg);">
        </div>
        <h3>Luna Turner</h3>
        <p>Founder</p>
        <div class="icons">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="img-container imggg" style="background-image: url(assets/imgs/juan.jpeg);">
        </div>
        <h3>Bryant Hall</h3>
        <p>Developer</p>
        <div class="icons">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="img-container imggg" style="background-image: url(assets/imgs/juan.jpeg);">
        </div>
        <h3>Hope Watkins</h3>
        <p>Designer</p>
        <div class="icons">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <div>
    <li class="bdockk denxo row text-center row-gap-4  d-flex justify-content-center align-items-center">
      <a href="" class="text-dark"> <i class="fa-solid fa-phone fa-xl mt-4  "></i></a>
      <a href="" class="text-dark"><i class="fa-solid fa-location-dot fa-xl"></i></a>
      <a href="" class="text-dark"><i class="fa-solid fa-globe fa-xl"></i></a>
      <a href="" class="text-dark"><i class="fa-solid fa-envelope fa-xl mb-4"></i></a>
    </li>
  </div>
</section>
