<body>
  <img id="imagenbackground1">
</body>
<div class="animate__animated animate__bounce d-flex col col-6 container buttttttt ">
  <div class="card  col col-12">
    <a class="login">Iniciar sesion</a>
    <div class="inputBox">
      <input type="text" required="required">
      <span class="user">Usuario</span>
    </div>
    <div class="inputBox">
      <input type="password" required="required">
      <span>Contraseña</span>
    </div>
    <button class="enter">Enter</button>
  </div>
</div>
