<body class="bg-warning">
  <section id="fondoImg" class="mx-4">
    <div class="mt-4 d-flex  m-5 justify-content-between">
      <div id="addPregunta">
        <h3>Añadir pregunta</h3>
        <button id="botonMas" class="rounded-circle bg-warning border-warning"><i class="fa-solid fa-plus"
            style="color: white; font-size: 30px;"></i></button>
      </div>
    </div>





    <div>
      <div class="mb-3 container-fluid col-10">
        <p class="bg-warning p-4">Ya que estamos hablando de ciencia, la primera y segunda ley de la
          termodinamica
          dicen que todo esta en un proceso de descomposicion, y la teoria de la evolucion
          dice que vamos de menos a mas pero la segunda ley de la termodinamica dice que vamos
          de mas a menos. Entonces ya que esta ley es la que rige la mayor parte de las leyes
          cientificas la contradice se cae automaticamente y no solo esta ley, la genetica ahora
          que se descubrio en 1954 el famoso ADN por los doctores Crick y Watson, claramente
          ellos pudieron ya demostrar que hay una informacion oculta dentro de cada una de
          nuestras celulas las cuales impiden totalmente la evolucion porque para que podamos
          nosotros corroborar que la evolucion existe se nesecitaria demostrar que lo que pasa
          entre una especie y otra especie o sea las famosas mutaciones y hasta este momento que
          ya tiene la teoria de la evolucion mas de un siglo hasta este momento no hay ninguna
          evidencia cientifica que demuestre la evolucion de una especie a otra especie porque
          es imposible geneticamente. Entonces lo que han dicho cientificos son teorias,
          filosofias que es lo que es la teoria de la evolucion y eso que ya se demostro
          que es absolutamente incongruente con la misma ciencia, y los maestro y todos esos
          cientificos que creen en la teoria siguen diciendo que si se dio porque tienen un
          orgullo muy alto y no pueden decir: nos hemos equivocado en los ultimos 100 años. </p>
      </div>
      <div class="mb-3 container-fluid col-10">
        <p>Ya que estamos hablando de ciencia, la primera y segunda ley de la termodinamica
          dicen que todo esta en un proceso de descomposicion, y la teoria de la evolucion
          dice que vamos de menos a mas pero la segunda ley de la termodinamica dice que vamos
          de mas a menos. Entonces ya que esta ley es la que rige la mayor parte de las leyes
          cientificas la contradice se cae automaticamente y no solo esta ley, la genetica ahora
          que se descubrio en 1954 el famoso ADN por los doctores Crick y Watson, claramente
          ellos pudieron ya demostrar que hay una informacion oculta dentro de cada una de
          nuestras celulas las cuales impiden totalmente la evolucion porque para que podamos
          nosotros corroborar que la evolucion existe se nesecitaria demostrar que lo que pasa
          entre una especie y otra especie o sea las famosas mutaciones y hasta este momento que
          ya tiene la teoria de la evolucion mas de un siglo hasta este momento no hay ninguna
          evidencia cientifica que demuestre la evolucion de una especie a otra especie porque
          es imposible geneticamente. Entonces lo que han dicho cientificos son teorias,
          filosofias que es lo que es la teoria de la evolucion y eso que ya se demostro
          que es absolutamente incongruente con la misma ciencia, y los maestro y todos esos
          cientificos que creen en la teoria siguen diciendo que si se dio porque tienen un
          orgullo muy alto y no pueden decir: nos hemos equivocado en los ultimos 100 años.</p>
      </div>
      <div class="  container-fluid bg-warning" id="linea">
        _
      </div>
    </div>
    <section class="d-flex justify-content-end">
      <div id="comentario">

        <a class="text-decoration-none text-dark" href="">
          <h2>Añadir comentario</h2>
        </a>
      </div>
      <div id="icon">
        <i class="fa-regular fa-comment-dots"></i>
      </div>
    </section>

    <div></div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>
