<body>
  <img id="imagenbackground1">
</body>
<section class="d-flex col  col-12 justify-content-center  buttttttt">
  <div class="box-container  d-flex align-items-center">
    <div class="box animate__animated animate__fadeInLeft">
      <i class="fa-solid fa-handshake-simple fa-4x"></i>
      <h3> TIENES CALCULADORAS PARA <br> RENTAR, COMPRAR O VENDER? </h3>
      <button routerLink="/asesores" class="btn swing ">EMPECEMOS</button>
    </div>
  </div>
  <div class="d-flex animate__animated animate__fadeInRight row col-8">
    <div class="box-container">
      <div class="wrapper">
        <ul class="carousel">
          <li class="card">
            <div class="img"><img src="/assets/imgs/p-1.webp" alt="img" draggable="false"></div>
            <h2>CALCULADORA CASIO</h2>
            <span>Modelo C14R4</span>
            <span><strong>En Renta</strong> </span>
            <span>Semanalmente 50.000</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/p-2.webp" alt="img" draggable="false"></div>
            <h2>CALCULADORA CASIO</h2>
            <span>Modelo D4n13LA</span>
            <span><strong>En Renta</strong> </span>
            <span>Casada </span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/p-3.jpeg" alt="img" draggable="false"></div>
            <h2>CALCULADORA CASIO</h2>
            <span>Modelo HUNTER</span>
            <span><strong>En Renta</strong> </span>
            <span>Semanalmente 70.000</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/p-4.jpeg" alt="img" draggable="false"></div>
            <h2>CALCULADORA CASIO</h2>
            <span>Modelo C14R4</span>
            <span><strong>En Renta</strong> </span>
            <span>Semanalmente 50.000</span>
          </li>
        </ul>

      </div>
    </div>
    <div class=" box-container">
      <div class="wrapper">
        <ul class="carousel">
          <li class="card">
            <div class="img"><img src="/assets/imgs/p-4.jpeg" alt="img" draggable="false"></div>
            <h2>CALCULADORA CASIO</h2>
            <span>Modelo 3312white</span>
            <span><strong>En Renta</strong> </span>
            <span>Semanalmente 120.000</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/p-3.jpeg" alt="img" draggable="false"></div>
            <h2>CALCULADORA CASIO</h2>
            <span>Modelo HUNTER</span>
            <span><strong>En Renta</strong> </span>
            <span>Semanalmente 70.000</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/p-2.webp" alt="img" draggable="false"></div>
            <h2>CALCULADORA CASIO</h2>
            <span>Modelo C14R4</span>
            <span><strong>En Renta</strong> </span>
            <span>Semanalmente 50.000</span>
          </li>
          <li class="card">
            <div class="img"><img src="/assets/imgs/p-1.webp" alt="img" draggable="false"></div>
            <h2>CALCULADORA CASIO</h2>
            <span>Modelo C14R4</span>
            <span><strong>En Renta</strong> </span>
            <span>Semanalmente 50.000</span>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
