<div class="d-flex col col-12 position-fixed justify-content-evenly">
  <div class="col-4 animate__animated animate__zoomIn" id="imagenbackground1">
    <div class=" d-flex  col col-6 container buttttttt ">
      <div class="card  animate__animated animate__pulse animate__infinite col col-12">
        <a class="login text-center">MECÁNICA DE <br> SUELOS </a>
        <button routerLink="/asesorias" class="enterr">Enter</button>
      </div>
    </div>
  </div>
  <div class="col-4 animate__animated animate__zoomIn " id="imagenbackground2">
    <div class=" d-flex col col-6 container buttttttt ">
      <div class="card animate__animated animate__pulse animate__infinite col col-12">
        <a class="login text-center ">MECÁNICA DE <br> MATERIALES</a>
        <button routerLink="/materiales" class="enterr">Enter</button>
      </div>
    </div>
  </div>
  <div class="col-4 animate__animated animate__zoomIn " id="imagenbackground3">
    <div class=" d-flex col col-6 container buttttttt ">
      <div class="card animate__animated animate__pulse animate__infinite col col-12">
        <a class="login text-center ">MECÁNICA DE <br> FLUIDOS:</a>
        <button routerLink="/materiales" class="enterr">Enter</button>
      </div>
    </div>
  </div>
</div>
